* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #8dc6ec;
    color: #eee;
    font-family: 'Segoe UI', sans-serif;
}

#root {
    width: 100%;
    max-width: 100%;
    border: none;
    background-color: rgb(142, 177, 217);
    background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
}

.app {
    max-width:1000px;
    margin: 0 auto;
    padding: 40px 100px;
    background-color: #6d9dd8;
    border: rgba(25, 117, 246, 0.27) solid 3px;
}

.app-header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 20px;
    
}

.app-header h1 {
    font-size: 2.3rem;
    font-family: fantasy;
    letter-spacing: 1px;
    color: #fff;
    text-shadow: #000737 2px 2px 4px;
}

.refresh-btn {

    margin-left: auto;
    justify-content: right;
    padding: 12px 22px;
    background: #ffffff;
    color: rgb(0, 7, 81);
    border: 2px solid rgb(0, 7, 81);
    border-radius: 8px;
    font-size: 15px;
    font-family: fantasy;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
    white-space: nowrap;
    flex-shrink: 0;
}

.refresh-btn:hover {
    background: #0d3b6e;
    color: #fff;
}

.loan-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.loan-card {
    background: #ffffff;
    border: 3px solid #000737;
    border-radius: 12px;
    padding: 30px 30px;
}

.loan-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.loan-id {
    font-size: 15px;
    font-family: fantasy;
    color: #000737;
    background-color: #d6f5fb;
    border: #000737 solid 1px;
    padding: 4px 12px;
    border-radius:5px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    margin-bottom: 20px;
}

.loan-status {
    padding: 5px 15px;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 600;
}

.loan-status.active {
  margin-right: 20px;
    background: rgb(255, 225, 0);
    color: #000737;
    border: #e09c1498 solid 2px;
    font-size: 15px;
    ;
}

.loan-status.returned {
    background: rgb(0, 207, 72);
    border: #06770a solid 2px;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
}

.loan-card-body {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-left: 5px;
  gap: 15px 65px;
}

.loan-card-body p {
  grid-template-columns: auto 2fr;
  display: flex;
    font-size: 18px;
    color: #03082bd8;

}

.loan-card-body p strong {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 800;
  padding-right: 7px;
  color: #000737;
}

.status-text {
    text-align: center;
    color: #888;
    margin-top: 60px;
    font-size: 16px;
}

.status-text.error {
    color: #e05;
}
